/* INDEX */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900');
@import url('http://fonts.cdnfonts.com/css/barbedwire-personal-use');

/** {*/
/*    font-family: Roboto, sans-serif;*/
/*}*/
.index-body {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10%;
    width: 35%;
    font-family: 'ROBOTO', sans-serif;
    font-weight: 600;
}

.index-padding {
    padding: 10px;
}


.card-bg {
    background-color: inherit;
    border: none;

}

#circle-image {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;

}

#row {
    display: flex;
}

#column {
    flex: 33.33%;
    padding: 15px;
}

.border-card {
    padding: 0;
}

/* HEADER */
.home-icon {
    width: 120px;
}

/* FOOTER */
footer {
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #362c39;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 20px;
    margin-right: 15px;
}

.copyright {
    font-size: 13px;
    text-align: center;
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}

.footer-style {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MY PROFILE */
.profile-margin {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10%;
    width: 80%;
}

.profile-name {
    font-weight: 800;
    font-size: 75px;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.header-main {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    box-shadow: 0 5px 8px -1px rgb(0 0 0 / 20%);
    opacity: .9;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    word-spacing: 2px;
}

.header-nav,
.navbar-options .nav-link {
    color: #1c2b46;
}

.header-nav:hover,
.navbar-options .nav-link:hover {
    color: #7952b3;
}

.dropdown-toggle:after {
    border-top: 0;
    border-right: 0;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
    top: 6px;
    transform: rotate(135deg);
}

.nav-holder {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-options {
    display: flex;
}

.account {
    color: #fff;
    background-color: #000;
    padding: 7px;
    font-size: 28px;
    border-radius: 100%;
}

.navbar-toggler-icon {
    /*background-color: black;*/
    background-image: url("./assets/target.png");
}

.toggle {
    /*background-color: black;*/
    border-color: black;
    border-radius: 10px;
    background-image: url("./assets/target.png");
}

.collapse .show .navbar-collapse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#main-name {
    font-size: 100px;
}

.register-holder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #f9e9e9;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #f12a2a;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    cursor: pointer;
    line-height: 1.5;
    padding: 1.2em 4em;
    letter-spacing: 0.05rem;
}

.btn:focus {
    outline: 2px dotted #55d7dc;
}

.landing-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.landing-holder {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-holder {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
}

.register-form {
    padding: 100px 0;
    background-image: linear-gradient(to right, #415436, #9b9c70);
}

.edit-form {
    padding: 100px 0;
    background-image: linear-gradient(to right,
            rgba(255, 31, 31, 0.87), #FD5D5D);
}

.form-input {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    border: 0 !important;
    height: 60px;
    padding: 0 25px;
    box-shadow: 0 5px 8px -1px rgb(0 0 0 / 20%) !important;
}

.text-area {
    padding-top: 20px;
    min-height: 120px !important;
}

.submit-btn {
    font-family: 'Roboto';
    background-color: black;
    border: none;
}

.submit-btn:hover {
    background-color: white;
    color: black;
    transition: ease-in-out-out .5s;
    border: none;
}

.cancel-edit-btn {
    background-color: black;
    border: none;
}

.cancel-edit-btn:hover {
    background-color: whitesmoke;
    transition: ease-in-out .5s;
}

.register-heading {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
    font-size: 3.67rem;
}

.register-text {
    margin-bottom: 100px;
    font-size: 16px;
    color: #fff;
}

.marketplace {
    background: url("./assets/landing-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-img-top {
    width: 100%;
    object-fit: fill;
    display: block;
    height: 15rem;
    background: center center no-repeat;
    border-radius: 10px;
    padding: 0;
}

.weapon-div {
    text-decoration: none;
    text-shadow: black;
    overflow: hidden;
    color: whitesmoke;
    transition: transform .5s;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 1px 1px 3px grey;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.weapon-div:hover {
    box-shadow: 1px 8px 20px grey;
    transform: scale3d(1.006, 1.006, 1);
}

.container1 {
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    padding: 30px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.logo1 {
    width: 180px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px 20px 30px 0;
    box-shadow: -2px 2px 400px #808080;
    transform: translate(-70%, -10%);
}

.h1 {
    font-family: "Marck Script", san-serif;
    transform: translateX(-85px);
    margin: 0 0 5px;
    padding: 0;
    font-size: 30px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.h3 {
    font-style: italic;
    font-weight: 600;
    transform: translateX(-85px);
    margin: 0 0 20px;
    padding: 0;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.bio1 {
    transform: translateX(-95px);
    font-family: "KoHo", sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 28px;
}

.s-btn {
    color: black;
}

.card-bg {
    background-color: inherit;
    border: none;
}

.create-post-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: red;
    width: 100%;
    transition: ease-in .5s;
}

textarea {
    width: 100%;
}

.cancel-post-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: black;
    width: 100%;
    transition: ease-in .5s;
}

.profile-content {
    background-image: url(./assets/giphyChangingBackground.gif);
    background-size: cover
}